body {
    margin: 0; 
    padding: 0;
    background: #000;
}

canvas {
    top: 0;
    left: 0;
}

#mute {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
}