* {
  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

body,
html {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
}

canvas {
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  filter: blur(35px);

  .exploration-started & {
    filter: blur(0);
    transition: filter 2s linear;
  }
}

.resources-loaded #dialog {
  & .content {
    background: rgba(0, 0, 0, 0);
    transition: background 3s ease-in-out;
  }

  & .title {
    transition:
      transform 3s ease-out,
      opacity 3s ease-out;
    transform: translateY(0);
    opacity: 1;
  }

  & #button {
    transition: 3s ease-in-out;
    transition-delay: 3s;
    opacity: 1;
  }
}

.exploration-started  {
    & #github-link {
        opacity: 1 !important;
        pointer-events: all;
    }
}

#dialog {
  color: white;
  background: transparent;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  font-weight: 400;
  overflow: hidden;

  .exploration-started & {
    opacity: 0;
    filter: blur(35px);
    transition: 3s linear;
    transition-property: filter, opacity;
  }

  & .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 1);
    width: 100vw;
    height: 100vh;
  }

  & .title {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    line-height: 4rem;
    font-size: min(4rem, 11vw);
    padding: 1rem 0;
    margin: 0;
    transform: translateY(-25%);

    opacity: 0;
    will-change: transform, opacity;
  }

  & .loader_bar {
    width: 100%;
    height: 1px;

    &:before {
      content: "";
      display: block;
      width: calc(100% * var(--progress));
      opacity: calc(var(--progress) * 0.2);
      height: 1px;
      background: rgba(255, 255, 255, 0.5);
      transition: 1s ease-in-out;
    }
  }

  & #button {
    border: none;
    background: transparent;
    color: white;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    padding: 0.09rem 2rem;
    cursor: pointer;
    opacity: 0;
  }

  & .credit {
    font-size: min(0.7rem, 2.8vw);
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    top: 15px;
    right: 20px;
    text-align: center;
  }
}

#github-link {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: auto;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
  
  & img {
    width: 100%;
    height: 100%;
  }
}

#mouse-helper {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 25px;
  opacity: 0;
  transition: opacity 1s ease-in-out;

  & .left-click {
    position: absolute;
    left: -60px;
    top: -15px;
    width: 85px;
    border-bottom: 1px solid white;
  }

  & .right-click {
    position: absolute;
    top: -15px;
    width: 85px;
    right: -60px;
    border-bottom: 1px solid white;
    text-align: right;
  }
  & img {
    width: 50px;
    height: 50px;
  }
}

#audio {
  --speed: 1.2s;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 1px;
  top: 20px;
  left: 20px;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;

  &.visible {
    opacity: 1 !important;
  }

  &.muted .bar {
    animation-play-state: paused;
  }

  & .bar {
    width: 3px;
    background: white;
    height: 20px;

    animation-name: music-bar-anim;
    animation-iteration-count: infinite;
    animation-duration: 1.3s;
  }

  & .bar:nth-child(1) {
    animation-duration: calc(var(--speed) + 0.3s);
    animation-delay: 0.2s;
  }

  & .bar:nth-child(2) {
    animation-duration: calc(var(--speed) + 0.8s);
    animation-delay: 0.1s;
  }

  & .bar:nth-child(3) {
    animation-duration: calc(var(--speed) + 1.2s);
    animation-delay: 0.3s;
  }

  & .bar:nth-child(4) {
    animation-duration: calc(var(--speed) + 1s);
    animation-delay: 0.15s;
  }

  & .bar:nth-child(5) {
    animation-duration: calc(var(--speed) + 0.5s);
    animation-delay: 0.25s;
  }
}

@keyframes music-bar-anim {
  0% {
    transform: scale3d(1, 0.3, 1);
    opacity: 0.5;
  }
  50% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 0.3, 1);
    opacity: 0.5;
  }
}
